#aframeDiv
{
    width:100%;
    height:640px;
}

a-scene
{
    height: 300px;
    width: 600px;
}

body
{
    background-image: linear-gradient(to bottom, #002254, black); 
    color:#ffffff;
}

button
{
    height:80px; 
    font-size:78px;
    margin-top:10px;
    margin-left:20px;
    border-radius: 0px 50px 0px 0px;
    border-color:white";
}

header
{
    padding-top: 20px;
    width: 100%;
}

h1
{
    font-family: SquaredDisplay;
    color:#446698;
    font-size: 70px;
    margin-left: -480px;
    margin-bottom:0px;
}

ul > li
{
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    padding-left: 100px;
    /* this fix is needed for IE7- */
    /* .. */
    font-family: Mergin;
}

.merginText
{
    font-family: 'Megrim', cursive;
}

.centeredTextBox
{
    height: 80px;
    width: 400px;
    background: red;
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.vCenteredBox
{
    margin:10px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.vCenteredBox2
{
    text-align:center; 
    font-size: 20px; 
    background-image: linear-gradient(black, #232323); 
    padding-top:10px; 
    border-radius: 0px 50px 150px 0px; 
    margin-bottom: 10px;
}

.no-select-text
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}